[DTSAXRayTransitionData]
pathname=/Users/hdemers/Archive/works/data/DTSA
basename=XrayData
extension=.csv
lineSuffix=Line
edgeSuffix=Edge

[XRayTransitionName]
pathname=/Users/hdemers/Archive/works/data/XRayData
basename=XRayTransitionName
extension=.csv

[PouchouKRatioData]
path=/Users/hdemers/Archive/works/data/pouchou1991/
basename=kRatioConditions.csv

[Love1975KRatioData]
path=/Users/hdemers/Archive/works/data/love1975/
basename=kRatioConditions.csv
originalName=kRatioDatabaseLove1975.csv

[PENELOPE2006]
pathname=/Users/hdemers/Archive/works/data/penelope2006
basenameRelaxationData=pdrelax.p06
basenameAtomicElectronShell=atomicelectronshell.txt
basenameCompositionData=pdcompos.p06
basenameGroundStateConfigurationsData=pdatconf.p06

[MacHenkeWinxray]
pathnameBinary=/Users/hdemers/Archive/works/data/mac/MACHenke
pathnameText=/Users/hdemers/Archive/works/data/mac/MACText

[MacHenke]
pathname=/Users/hdemers/Archive/works/data/mac/data/henke
filename=sf.tar.gz
resultspath=/Users/hdemers/Archive/works/results/calculations/winxray/MacHenke

[XRaylib2.4]
pathname=/Users/hdemers/Archive/works/data/brunetti2004

[Deboer1989]
pathname=/Users/hdemers/Archive/works/data/deboer1989
filename=deboer1989Table2.csv

[EADLTransitionData]
path=/Users/hdemers/Archive/works/data/eadl/simulation

[Agarwal1979]
pathname=/Users/hdemers/Archive/works/data/Agarwal1979/

[Birks1969]
pathname=/Users/hdemers/Archive/works/data/Birks1969/

[Reed1993]
pathname=/Users/hdemers/Archive/works/data/Reed1993/

[Scott1995]
pathname=/Users/hdemers/Archive/works/data/scott1995/

[Moxtek]
filename=ap33.csv
path=/Users/hdemers/Archive/works/data/Moxtek

[Lebow]
filenameParyleneN=ParyleneN.txt
filenameAluminium=xrayAl.txt
path=/Users/hdemers/Archive/works/data/Lebow

[XRayOpticsXOS]
filename=transmission.txt
path=/Users/hdemers/Archive/works/results/experiments/uEDS/xrayoptic

[IonizationCrossSection]
suffix=pdesi
extension=.p06
path=/Users/hdemers/Archive/works/data/penelope2006

[XRayData]
path=/Users/hdemers/Archive/works/data/DTSA/
basename=XrayDataLine.csv

[Deslattes2003]
pathname=/Users/hdemers/Archive/works/data/atomic/transition/deslattes
energyFilename=deslattes2005_Energy.csv
wavelengthFilename=deslattes2005_Wavelength.csv

[coursey2005]
pathname=/Users/hdemers/Archive/works/data/coursey2005
datafile=coursey2005.txt
descriptionfile=descriptions.txt

[cherepin1987]
pathname=/Users/hdemers/Archive/works/data/SIMS/cherepin1987

[Paths]
dataPath=/Users/hdemers/Archive/works/data
worksPath=/Users/hdemers/Archive/works
resultsPath=/Volumes/drix01/results

[Chantler2005]
pathname=/Users/hdemers/Documents/workspace/DatabasesTools/testData/Chantler2005
filename=FFastMAC_DTSA2.csv
energyUnit=keV